.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 80px;
  background-color: #1c2b35;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin-left: 36px;
  transition: all 0.3s ease-in-out;
}

.header a:hover {
  color: orange;
}
